# Python
__pycache__/
*.py[cod]
*$py.class

# Env
.env

# IDE
.idea/
.vscode/
.claude
.idea
.venv
.log
data
.env.example
checkpoints
tmp

# LaTeX
*.aux
*.log
*.toc
*.out
*.bbl
*.blg
*.synctex.gz
*.fdb_latexmk
*.fls
*.lof
*.lot
*.nav
*.snm
*.vrb
*.bcf
*.run.xml
